name: Label and Assign
on:
  issues:
    types:
      - opened
      - reopened

jobs:
  Label-and-assign:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/github-script@v8
        with:
          script: |
            const keyFun = require('./.github/scripts/keywords.js');
            const keywords = keyFun();
            const script = require('./.github/scripts/issue_labelAssign.js');
            script({github, context}, keywords);